{% extends "includes/base.html" %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css'%}">
<link rel="stylesheet" href="{% static 'css/header_main.css' %}">
<link rel="stylesheet" href="{% static 'css/header_dropdown.css' %}">
<link rel="stylesheet" href="{% static 'css/header_search.css'%}">
<link rel="stylesheet" href="{% static 'css/header_search_categories.css'%}">
<link rel="stylesheet" href="{% static 'css/home_content.css' %}">
<link rel="stylesheet" href="{% static 'css/footer.css' %}">

{% endblock css %}

{% block body %}
{% include "includes/navbar.html" %}
{% include "includes/header_main.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Şəxsi kabinet<span class="badge">8</span></a>
                    <div class="dropdown">
                        <a class="dropbtn"><i class="fa fa-fw fa-user "></i>Hesab parametrləri{{request.user.username}}</a>
                        </div>
                    </div>
                </div>

            </nav>
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Dərc olunmuş<span class="badge">2</span></a>
                    </a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Müddəti başa çatmış<span
                            class="badge">0</span></a>

                    </a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Yoxlanılır<span class="badge">3</span></a>
                    </a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                        aria-controls="nav-about" aria-selected="true">Dərc olunmamış<span class="badge">3</span></a>
                    </a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="products">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- All producs here-->
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}"
                                                alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title products-name">Card title </h5>
                                                <p class="card-text">Bakı, bugün, 18:21</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}"
                                                alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title products-name">Card title </h5>
                                                <p class="card-text">Bakı, bugün, 18:21</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="text-center">
                    <h3>Bu bölmədə elan yoxdur</h3>
                    <a style="color: #fff; font-weight: bold;"  type="button" class="header-btn"><i class="fa fa-fw fa-plus"></i>Elan yerləşdir</a>
                </div>
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                    <div class="products">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- All producs here-->
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}"
                                                alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title products-name">Card title </h5>
                                                <p class="card-text">Bakı, bugün, 18:21</p>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}"
                                                alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title products-name">Card title </h5>
                                                <p class="card-text">Bakı, bugün, 18:21</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}" alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                            <h5 class="card-title products-name">Card title </h5>
                                            <p class="card-text">Bakı, bugün, 18:21</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <div class="products">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- All producs here-->
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}"
                                                alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title products-name">Card title </h5>
                                                <p class="card-text">Bakı, bugün, 18:21</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}"
                                                alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title products-name">Card title </h5>
                                                <p class="card-text">Bakı, bugün, 18:21</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="products-i">
                                    <a href="#" class="products-link mb-2">
                                        <div class="card">
                                            <img class="card-img-top" src="{% static 'img/product_1.jpg'%}"
                                                alt="Card image cap">
                                            <div class="products-price-container">
                                                <div class="products-price">
                                                    <span class="price-val">10 AZN</span>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title products-name">Card title </h5>
                                                <p class="card-text">Bakı, bugün, 18:21</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
{% endblock body %} 