
/*footer*/

.footer-info-container {
    background: #061127;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
.l-center {
    width: 950px;
    margin: 0 auto;
}
.page_foot.main-col_padding {
    padding: 20px;
}

/* 1 - footer contacts*/
.page_foot.main-col_padding .footer-contacts {
    padding-bottom: 20px;
    padding-top: 27px;
    margin-bottom: 27px;
}
.page_foot.main-col_padding .footer-contacts .links {
    float: left;
    font-size: 13px;
}
.footer-contacts .links a {
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    margin-right: 45px;
    cursor: pointer;
}
 .footer-contacts .contacts {
    font-weight: 500;
    float: right;
    color: #72829b;
}
.footer-contacts .contacts .tel {
    display: inline-block;
    
}
.footer-contacts .contacts .tel a {
    color: #72829b;    
}

/* 2 - footer regions*/
.page_foot.main-col_padding .footer-regions {
    border-top: solid 1px #152036;
    border-bottom: solid 1px #152036;
    padding: 5px 0;
}
 .footer-regions .all-regions a {
    text-decoration: none;
    margin: 10px 0 20px;
    padding: 0;
    list-style-type: none;
    font-size: 12px;
    color: #6e95c5;
    overflow: hidden;
    line-height: 18px;
}

/* 3- footer bottom*/
.footer-bottom {
    padding-top: 20px;
}
.footer-bottom .side {
    font-size: 10px;
    color: #72829b;
    margin-top: 15px;
    float: left;
    width: 524px;
}
.footer-bottom .side .link_mob {
    font-size: 12px;
    margin-bottom: 8px;
}
.footer-bottom .side .resp {
    margin-bottom: 15px;
    width: 300px;
}
.page_foot.main-col_padding .footer-bottom .side .copyright, .page_foot.main-col_padding .footer-bottom .side .mobile {
    display: inline-block;
}
.footer-bottom .links-sites {
    float: right;
    line-height: 52px;
}
.footer-bottom .side {
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #72829b;
    margin-top: 15px;
    float: left;
    width: 524px;
}
  
.footer-bottom .links-sites img{
    width: 80px;
    height: 35px;
    margin-right: 15px;
}

.footer-bottom .counters {
    height: 122px;
    width: 88px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background: #7e9dd2;
    cursor: pointer;
    position: relative;
}

.footer-bottom .counters img {
    height: 120px;
    width:88px; 
}
a img {
    border: 0;
}