nav {
    font-family: Helvetica, Arial, sans-serif;
    
}

#nav {
    background-color: #555;
    font-size: 15px;
    color: #fff;  
}
#navbarSupportedContent{
    padding: 0 5% 0 5%;
}
#nav a {
    color: white;
}

#nav a:hover {
    background-color: #6f6f6f;
}

#nav-right {
    font-weight: bold;
}

