{% extends "../includes/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_main.css'%}">
    <link rel="stylesheet" href="{% static 'css/add_product.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block body %}
{% include "includes/navbar.html" %}
{% include "includes/header_main.html" %}
 
  <div class="container main-content">
    <div class='row'>
        <div class='col-md-3'>
            <div class='background-ul'>
                <ul class='pages'>
                    <li class='pages-li'> <a href='{{ request.current_url }}'> Qaydalar </a> </li>
                    <li class='pages-li'> <a href='{{ request.current_url }}'> Haqqımızda </a> </li>
                    <li class='pages-li-current'> <a href='{{ request.current_url }}'> Saytda reklam </a> </li>
                </ul>
            </div>
        </div>
        <div class='col-md-9'>
            <h1> {{ flatpage.title }} </h1>
            <span>
                {{ flatpage.content }}
            </span>
        </div>
    </div>
  </div>
  </div>
{% include "includes/footer.html" %}
{% endblock body %}
