{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ flatpage.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container main-content">  
    <div class='row'>
        <div class='col-md-3'>
            <div class='background-ul'>
                <ul class='pages'>
                    <li class='pages-li'> <a href='{{ request.current_url }}'> Qaydalar </a> </li>
                    <li class='pages-li'> <a href='{{ request.current_url }}'> Haqqımızda </a> </li>
                    <li class='pages-li-current'> <a href='{{ request.current_url }}'> Saytda reklam </a> </li>
                </ul>
            </div>
        </div>
        <div class='col-md-9'>
            <h1> {{ flatpage.title }} </h1>
            <span>
                {{ flatpage.content }}
            </span>
        </div>
    </div>
  </div>
</body>
</html>