<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
    <form class="form-login" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{form.new_password1}}
                {{form.new_password1.errors}}
            </div>
            <div class="form-group">
                {{form.new_password2}}
                {{form.new_password2.errors}}
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password">
            </div>
        </div>

    </form>
</body>
</html>