{% extends '../includes/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password-reset.css'%}">
{% endblock css %}

{% block body %}
  
	
	<!--Reset Password-->
	<div id="auth-app">
        <div class="main stage-2">
             <div class="auth">
                <a type="button" href="{% url 'homepage'%}" class="auth__close-btn">
                    <img src="{% static 'img/close.jpg' %}">
                </a>
                <div class="login">
                    <a href="{% url 'users:login-email'%}" type="button" class="back-btn" >
                            <img src="{% static 'img/back.jpg' %}">
                    </a>
                
  	 		        <div class="title title--main">Şifrəni sıfırlayın</div>
	
                    <form method="POST" class="input-group">
                        <div class ="input-form">
                            {% csrf_token %}
                            {{ form.as_p }}   
                        </div>
                        <div class="promo">E-poçt adresinizi daxil edin və yeni şifrənizi təyin etmək üçün təlimatları e-poçtla göndərəcəyik.</div>

                        <button class="btn btn--default" type="submit">E-mail göndərilsin</button>
                    </form>
                </div>
            </div>
        </div>   
  	</div> 
{% endblock body %}