{% extends '../includes/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/password-reset-confirm.css'%}">

{% endblock css %}

{% block body %}

  
  <!--Password Reset Confirm-->
    <div class="container p-5">
        <div class="confirm-form">
            <div class="title">Yeni şifrənin təsdiqi</div>
            <form method="POST">
                {% csrf_token %}
                
                    {{ form.as_p }} <br>       
                
                <button class="btn btn-primary" type="submit">Reset password</button>
            </form>
         </div>  
    </div>

{% endblock %}