.new-lot-form {
    border-bottom: 0;
    padding:0 10% 2% 10%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
h1 {
    display: block;
    font-size: 1.8em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.new-lot-form .col-md-12 {
    background-color: #f3f3f3;
    padding-top: 15px;
    padding-bottom: 30px;
}


/*Inside Form col-md-8*/
.new-lot-form .confirm-rules {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0 20px;
    color: #6b6b6b;
    margin-bottom: 20px;
}
.styled-button{
margin-top: 5px;
padding-left: 235px;
}


.styled-button .btn {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    border: 0;
    border-radius: 5px;
    padding: 0 10px;
    color: #fff8f2;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #ff6617;

}

/*other side col-md-4*/
.new-lot-form .rules {
    font-family: Helvetica, Arial, sans-serif;;
    font-size: 14px;
    color: #ff6617;
    padding: 0% 10% 0% 10%;
}

.new-lot-form .rules .rules-header {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.new-lot-form .rules ul {
    padding: 0;
    margin: 17px 0;
}

.new-lot-form .rules li {
    margin: 0;
    margin-top: 12px;
    padding: 0;
    padding-left: 10px;
    
}

.new-lot-form .rules li p {
    color:black;
}
.new-lot-form .all-rules {
    padding-left: 12px;
   
}
.new-lot-form .all-rules a{
    color: #ff6617;
}

.row {
    --bs-gutter-x: 0 !important;
}

.product-form span {
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.product-form .row{
    margin-bottom: 1.2rem;
}

.product-form select {
    max-width: 352px;
    margin-top: -2px;
}


.product-form textarea, .product-form input, .product-form select {
    display: inline-block;
    font-size: 16px;
    border: 0.7px solid #999;
    border-radius: 0;
    max-width: 352px;
}

.product-form textarea:focus, .product-form input:focus, .product-form select:focus {
    border: 0.7px solid #999;
    box-shadow: none;
}

.price-row input {
    width: 200px;
}

.price-row .currency {
    font-weight: 400;
    font-size: 0.8rem;
    padding: 0 0 0 5px;
}

.contact {
    padding: 15px 0 0;
    background-color: #fafafa;
    border-top: 1px solid #d5d5d5;
    margin-bottom: 20px;
    padding-bottom: 17px;
}   

.contact-span {
    padding: 0 !important;
    font-weight: 400 !important;
}

.required {
    padding: 0 !important;
    color: #fe6617 !important;
}

