.header-main {
    background-color: #ff6617;
    color: #fff; 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;

}
.header-main-row{
    padding: 0 5% 0 5%;
}
.header-main a {
    color: #fff; 
    font-weight: bold;
    margin-left: 25px;
   
}

.header-btn {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    padding: 12px 60px;
    background-color: #3fa425;
}
.dropbtn {
    color: white;
    border: none;
    cursor: pointer;
  }
  
  