{% load static%}
<!-- Header search form-->
<div class="header-navigation">
    <div class="container">
        <div class="container-fluid">
            <div class="row header-nav ">
                <form action="{% url 'search-result-page' %}" method="GET" class="form-inline pt-4">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group has-search">
                                        <span class="fa fa-search form-control-feedback"></span>
                                        <input type="text" name='keyword' class="form-control" placeholder="Məsələn, iPhone X">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group has-select">
                                    <span class="fa fa-map-marker fa-lg form-control-feedback"></span>
                                    <select class="form-control">
                                        <option value="0">BÜTÜN AZƏRBAYCAN</option>
                                        {% for city in cities %}
                                        <option value="{{ city.name }}">{{ city.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group btn-navigation">
                                    <button type="submit" class="btn-header-navigation">Tap
                                    <span class="fa fa-search form-control"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <div class="search-footer">
                    <a class="search-all" href="#">Bütün elanlar</a>
                </div> -->
                <!-- <div class="dropdown">
                    <button class="dropbtn" style=" background-color: #FFF;
                            "><span>Qiymət, AZN</span> <i class="fas fa-chevron-down arrow-down"></i> </button>
                    <div class="dropdown-content" style="padding:10px">
                        <input class="form-control " id="price_range" class="minimum" placeholder="min." type="number" >
                        <input class="form-control " id="price_range" class="maximum" placeholder="max." type="number" >
                    </div>

                </div> -->

                <!-- Header categories-->
                <div class="header-categories-row">
                    <div class='row'>
                        {% for category in categories %}
                        <div class='col-3'>
                            <a href='#'>
                                <div class='row category-row {% if forloop.counter <= 4 %} category-first-row {% elif forloop.counter >= 9 %} category-last-row {% endif %}'>
                                    <div class='col-2'>
                                        <div class='header-category-icon'>
                                            <img src="{{ category.icon.url }}">
                                        </div>
                                    </div>
                                    <div class='col-10 category-title'>
                                        <span> {{ category.name }} </span>
                                    </div>
                                </div>
                            </a>
                        </div>      
                        {% endfor %}              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>$('.dropdown-toggle').dropdown()</script>