{% load i18n %}

<nav class="navbar navbar-expand-md" id="nav">   
        <div class="container">        
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li>
                            <a class="nav-link active" href="/"><i class ="fa fa-fw fa-home" style="margin-right: 0.4rem;"></i>{% translate 'Əsas səhifə' %}</a>
                        </li>
                        <li class="nav-item">
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link active" href="#">{% translate 'Saytda reklam'%}</a>
                        </li>
                    </ul>
                     <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="nav navbar-nav ml-auto" id="nav-right">
                        <li>
                            <a class="nav-link">{% translate 'Dəstək' %}:</a>
                        </li>
                        <li>
                            <a class="nav-link" href="tel:+994125990805">(012) 599-08-05;</a>
                        </li>
                        <li>
                            <a class="nav-link" href="tel:+994125058585">(012) 505-85-85</a>   
                        </li>                                 
                   </ul>
               </div>
            </div>
        </div>
      </nav>
