<!-- statistic -->
<div class="statistic-counters-container">
    <div class="l-center">
        <div class="statistic-counters-i">
            <div class="statistic-counters-quantity day-visits">

            </div>
            <div class="statistic-counters-text">istifadəçi<br>gün ərzində</div>
        </div>
        <div class="statistic-counters-i">
            <div class="statistic-counters-quantity day-hits">
                
            </div>
            <div class="statistic-counters-text">baxış<br>gün ərzində</div>
        </div>
        <div class="statistic-counters-i">
            <div class="statistic-counters-quantity daily-new-product">
                
            </div>
            <div class="statistic-counters-text">yeni elan<br>gün ərzində</div>
        </div>
    </div>
</div>
