{% extends "includes/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_main.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_product.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
{% endblock css %}
{% block body %}
{% include "includes/navbar.html" %}
{% include "includes/header_main.html" %}
 
 <div class="content">
        <div class="row">
            <div class="container">
                <div class="container-fluid">
                    <div class="new-lot-form ">
                        <h1>Yeni elan</h1>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <form class="simple_form lot-form js-lot-form no-banners lot-form--unauthorized product-form" accept-charset="UTF-8" method="post">
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Kateqoriya</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <select class="form-control">
                                                    <option selected="selected" disabled>Siyahıdan seçin</option>
                                                    {% for category in categories %}
                                                      <optgroup label="{{ category.name }}">
                                                            {% for children in category.get_children %}
                                                                <option value="{{ children.name }}">{{ children.name }}</option>
                                                            {% endfor %}
                                                      </optgroup>
                                                    {% endfor %}
                                                  </select>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Şəhər</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <select class="form-control">
                                                    <option selected="selected" disabled>Siyahıdan seçin</option>
                                                    {% for city in cities %}
                                                        <option value="{{ city.name }}">{{ city.name }}</option>
                                                    {% endfor %}
                                                  </select>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Qiymət, AZN</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <input class="form-control" type="number">
                                            </div>
                                        </div>  
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Məzmun</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                  </div>
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Şəkillər</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <input class="form-control form-control-sm" id="formFileSm" type="file" />
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Ad</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">    
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>E-mail</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <input type="email" class="form-control" id="exampleInputName" aria-describedby="nameHelp">    
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Mobil nömrə</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">    
                                            </div>
                                        </div> 

                                        <div class="confirm-rules">Elan yerləşdirərək, siz Tap.az-ın 
                                            <a target="_blank" href="/pages/terms-and-conditions">İstifadəçi razılaşması</a> 
                                            ilə razı olduğunuzu təsdiq edirsiniz.
                                        </div>
                                        <div class="styled-button">
                                            <button name="button" type="submit" data-disable-with="Göndərilir..." data-disable-text="Göndərilir..." class="btn">Elanı əlavə et</button>
                                            
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <div class="rules">
                                        <div class="rules-header">Tap.Az-ın sadə qaydaları</div>
                                        <ul>
                                            <li><p> Eyni elanı bir neçə dəfə təqdim etməyin.</p> </li>
                                            <li><p> Təsvir və ya şəkillərdə telefon, email və ya sayt ünvanı göstərməyin.</p></li>
                                            <li><p> Ad yerində qiymət yazmayın - bunun üçün ayrıca yer var.</p></li>
                                            <li><p> Qadağan olunmuş məhsulları satmayın</p></li>
                                        </ul>
                                        <div class="all-rules">
                                            <a target="_blank" href="/pages/rules">Saytın tam qaydaları</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include "includes/footer.html" %}
{% endblock body %}
