{% extends "includes/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_main.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_product.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
{% endblock css %}
{% block body %}
{% include "includes/navbar.html" %}
{% include "includes/header_main.html" %}
 
 <div class="content">
        <div class="row">
            <div class="container">
                <div class="container-fluid">
                    <div class="new-lot-form ">
                        <h1>Yeni elan</h1>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <form class="simple_form lot-form js-lot-form no-banners lot-form--unauthorized product-form" accept-charset="UTF-8" method="post">
                                        {% csrf_token %}
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Kateqoriya <span class='required'>*</span></span>
                                            </div>
                                            <div class='col-md-7'>
                                                <select class="form-control" name='category' >
                                                    <option selected="selected" disabled>Siyahıdan seçin</option>
                                                    {% for category in categories %}
                                                      <optgroup label="{{ category.name }}">
                                                            {% for children in category.get_children %}
                                                                <option value="{{ children.name }}">{{ children.name }}</option>
                                                            {% endfor %}
                                                      </optgroup>
                                                    {% endfor %}
                                                  </select>
                                            </div>
                                        </div>
                                        <div class='row'>
                                            <div class='col-md-5'>
                                            </div>
                                            <div class='col-md-7'>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="isNewCheck" name="is_new">
                                                    <label class="form-check-label" for="isNewCheck">
                                                      Yeni?
                                                    </label>
                                                  </div>
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                            </div>
                                            <div class='col-md-7'>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="delivery" id="isDeliveryCheck">
                                                    <label class="form-check-label" for="isDeliveryCheck">
                                                        Çatdırılma?
                                                    </label>
                                                  </div>
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Elanın adı <span class='required'>*</span></span>
                                            </div>
                                            <div class='col-md-7'>
                                                <div class="form-group">
                                                    <input type="text" name="title" class="form-control" id="productTitleInput" aria-describedby="titleHelp" required>
                                                  </div>
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Şəhər <span class='required'>*</span></span>
                                            </div>
                                            <div class='col-md-7'>
                                                <select class="form-control" name='city'>
                                                    <option selected="selected"  disabled>Siyahıdan seçin</option>
                                                    {% for city in cities %}
                                                        <option value="{{ city.name }}">{{ city.name }}</option>
                                                    {% endfor %}
                                                  </select>
                                            </div>
                                        </div>
                                        <div class='row price-row'>
                                            <div class='col-md-5'>
                                                <span>Qiymət, AZN <span class='required'>*</span></span>
                                            </div>
                                            <div class='col-md-7'>
                                                <input class="form-control" type="number" name="price" required>
                                                <span class='currency'>AZN</span>
                                            </div>
                                        </div>  
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Məzmun</span>
                                            </div>
                                            <div class='col-md-7'>
                                                <div class="form-group">
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                                                  </div>
                                            </div>
                                        </div> 
                                        <div class='row'>
                                            <div class='col-md-5'>
                                                <span>Şəkillər </span>
                                            </div>
                                            <div class='col-md-7'>
                                                <input class="form-control form-control-sm" id="formFileSm" type="file" accept="image/*" />
                                            </div>
                                        </div> 
                                        <fieldset class='contact'>
                                            <div class='row'>
                                                <div class='col-md-5'></div>
                                                <div class='col-md-7'>
                                                    <span class='contact-span'>
                                                        Əlaqə məlumatları
                                                    </span>
                                                </div>
                                            </div>
                                            <div class='row'>
                                                <div class='col-md-5'>
                                                    <span>Ad <span class='required'>*</span></span>
                                                </div>
                                                <div class='col-md-7'>
                                                    <input type="text" class="form-control" name="name" id="exampleInputName" aria-describedby="nameHelp" required {% if request.user.is_authenticated %} value='{{ user.name }} {{ user.surname }}' readonly {% endif %}>    
                                                </div>
                                            </div> 
                                            <div class='row'>
                                                <div class='col-md-5'>
                                                    <span>E-mail <span class='required'>*</span></span>
                                                </div>
                                                <div class='col-md-7'>
                                                    <input type="email" name="email" class="form-control" id="exampleInputName" aria-describedby="nameHelp" required {% if request.user.is_authenticated %} value='{{ user.email }}' readonly {% endif %}>    
                                                </div>
                                            </div> 
                                            <div class='row'>
                                                <div class='col-md-5'>
                                                    <span>Mobil nömrə <span class='required'>*</span></span>
                                                </div>
                                                <div class='col-md-7'>
                                                    <input type="text" name="phone_number" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="(000) 000-00-00" required {% if request.user.is_authenticated %} value='{{ user.phone }}' readonly {% endif %}>    
                                                </div>
                                            </div> 
                                        </fieldset>

                                        <div class="confirm-rules">Elan yerləşdirərək, siz Tap.az-ın 
                                            <a target="_blank" href="/pages/terms-and-conditions">İstifadəçi razılaşması</a> 
                                            ilə razı olduğunuzu təsdiq edirsiniz.
                                        </div>
                                        <div class="styled-button">
                                            <button name="button" type="submit" data-disable-with="Göndərilir..." data-disable-text="Göndərilir..." class="btn">Elanı əlavə et</button>
                                            
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <div class="rules">
                                        <div class="rules-header">Tap.Az-ın sadə qaydaları</div>
                                        <ul>
                                            <li><p> Eyni elanı bir neçə dəfə təqdim etməyin.</p> </li>
                                            <li><p> Təsvir və ya şəkillərdə telefon, email və ya sayt ünvanı göstərməyin.</p></li>
                                            <li><p> Ad yerində qiymət yazmayın - bunun üçün ayrıca yer var.</p></li>
                                            <li><p> Qadağan olunmuş məhsulları satmayın</p></li>
                                        </ul>
                                        <div class="all-rules">
                                            <a target="_blank" href="/pages/rules">Saytın tam qaydaları</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include "includes/footer.html" %}
{% endblock body %}
