{% extends "includes/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_main.css'%}">
    <link rel="stylesheet" href="{% static 'css/add_product.css'%}">
    <link rel="stylesheet" href="{% static 'css/footer.css'%}">
{% endblock css %}
{% block body %}
{% include "includes/navbar.html" %}
{% include "includes/header_main.html" %}
 
 <div class="content">
        <div class="row">
            <div class="container">
                <div class="container-fluid">
                    <div class="new-lot-form ">
                        <h1>Yeni elan</h1>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <form class="simple_form lot-form js-lot-form no-banners lot-form--unauthorized" accept-charset="UTF-8" method="post">
                                              {{form}}
                                              form

                                        <div class="confirm-rules">Elan yerləşdirərək, siz Tap.az-ın 
                                            <a target="_blank" href="/pages/terms-and-conditions">İstifadəçi razılaşması</a> 
                                            ilə razı olduğunuzu təsdiq edirsiniz.
                                        </div>
                                        <div class="styled-button">
                                            <button name="button" type="submit" data-disable-with="Göndərilir..." data-disable-text="Göndərilir..." class="btn">Elanı əlavə et</button>
                                            
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-4">
                                    <div class="rules">
                                        <div class="rules-header">Tap.Az-ın sadə qaydaları</div>
                                        <ul>
                                            <li><p> Eyni elanı bir neçə dəfə təqdim etməyin.</p> </li>
                                            <li><p> Təsvir və ya şəkillərdə telefon, email və ya sayt ünvanı göstərməyin.</p></li>
                                            <li><p> Ad yerində qiymət yazmayın - bunun üçün ayrıca yer var.</p></li>
                                            <li><p> Qadağan olunmuş məhsulları satmayın</p></li>
                                        </ul>
                                        <div class="all-rules">
                                            <a target="_blank" href="/pages/rules">Saytın tam qaydaları</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include "includes/footer.html" %}
{% endblock body %}