{% extends "includes/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_search.css'%}">
    <link rel="stylesheet" href="{% static 'css/header_search_categories.css'%}">
    <link rel="stylesheet" href="{% static 'css/home_content.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock css %}
    
{% block body %}
<div class="home-page">
        {% include "includes/navbar.html" %}
        {% include "includes/header_main.html" %}
        {% include "includes/header_search.html" %}
       

        <!-- Content-->
        <div class = "content">
            <div class="container">
                <div class="container-fluid">
                    <div class="row content-row">
                        <!-- statistic -->
                        <div class="statistic-counters-container">
                            <div class="l-center">
                                <div class="statistic-counters-i">
                                    <div class="statistic-counters-quantity day-visits">
                                        {% for us in active_users %}
                                            <span>{{ us }}</span>
                                        {% endfor %}
                                    </div>
                                    <div class="statistic-counters-text">istifadəçi<br>gün ərzində</div>
                                </div>
                                <div class="statistic-counters-i">
                                    <div class="statistic-counters-quantity day-hits">
                                        <span>4</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>5</span>
                                        <span>0</span>
                                        
                                    </div>
                                    <div class="statistic-counters-text">baxış<br>gün ərzində</div>
                                </div>
                                <div class="statistic-counters-i">
                                    <div class="statistic-counters-quantity">
                                        <span>2</span>
                                        <span>2</span>
                                        <span>3</span>
                                        <span>6</span>
                                        <span>0</span>
                                    </div>
                                    <div class="statistic-counters-text">yeni elan<br>gün ərzində</div>
                                </div>
                            </div>
                        </div>

                        
                        <!-- lates products-->
                        <div class="products-container products-container_latest">
                            <div class="section-title">
                                <h2 class="section-title_name">SON ELANLAR</h2>
                            </div>
                            <div class="products">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- All producs here-->
                                        <div class="products-i">
                                            <a href="#" class="products-link mb-2">
                                                <div class="card">
                                                    <div class="products-top">
                                                        <img class="card-img-top" src="{% static 'img/product_1.jpg' %}" alt="Card image cap">
                                                        <div class="products-price-container">
                                                            <div class="products-price">
                                                                <span class="price-val">10 AZN</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="products-name">Card title Card title Card title Card title</div>
                                                    <div class="products-created">Bakı, bugün, 18:21</div>
                                                </div>
                                            </a>
                                        </div>
                           
                                        <!-- All producs here-->
                                        <div class="products-i">
                                            <a href="#" class="products-link mb-2">
                                                <div class="card">
                                                    <div class="products-top">
                                                        <img class="card-img-top" src="{% static 'img/product_1.jpg' %}" alt="Card image cap">
                                                        <div class="products-price-container">
                                                            <div class="products-price">
                                                                <span class="price-val">10 AZN</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="products-name">Card title Card title Card title Card title</div>
                                                    <div class="products-created">Bakı, bugün, 18:21</div>
                                                </div>
                                            </a>
                                        </div>
                                        
                                        <!--pruducts-->
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <!--pruducts end-->
                    </div>
                </div>
            </div>
        </div>

        <!--Fotter-->
        {% include 'includes/footer.html'%}
    </div>                                  

{% endblock body %}
